.chats{
    width: 40%;
    margin: 5vh auto;
    height: 90vh;
    border: 1px solid skyblue;
    border-radius: 25px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.msgesBox{
    height: 100%;
}

.chatInputBox{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.textInp{
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #00000000;
    border: 1px solid grey;
    margin-left: 25px;
    border-radius: 7px;
    color: grey;

}
.chats .textInp:hover{
    color: #fff;
    border-color: #fff;
    font-weight: 300;
}
.textInp:focus{
    outline: none;
}